<mat-sidenav-container class="h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
         <form [formGroup]="form" (ngSubmit)="userLogin()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
              <app-content-header 
                  [icon]="'exit_to_app'" 
                  [title]="'BCM'" 
                  [hideBreadcrumb]="true"
                  [hasBgImage]="true" 
                  [class]="'py-4'"></app-content-header>            
              <div class="p-3">
                  <!-- <a mat-button routerLink="/register" color="accent" class="w-100">Don't have an account? Sign up now!</a> -->
                  <mat-form-field class="w-100">
                      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                      <input matInput placeholder="Email" formControlName="username">
                      <mat-error *ngIf="form.controls.username.errors?.required">Email is required</mat-error>
                      <mat-error *ngIf="form.controls.username.hasError('invalidEmail')">Invalid email address</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                      <input matInput placeholder="Password" type="password" formControlName="password">
                      <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                      
                  </mat-form-field>               
                  <mat-slide-toggle  class="my-2">Keep me signed in</mat-slide-toggle>
                  <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">  <mat-spinner *ngIf="isLoading" mode="indeterminate" style="margin:0 auto;" [diameter]="40" class="mat-spinner-color"></mat-spinner> <span *ngIf="!isLoading">SIGN IN</span> </button>
              </div>
          </form>
    </div>
  </mat-sidenav-container>