<!-- <app-content-header icon="computer" [desc]="'Business Contiuity Stratigies'" [hideBreadcrumb]="true" [hasBgImage]="true"
    [class]="'py-3'"></app-content-header> -->
    <mat-toolbar  fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
        <div fxLayout="row">
            <div class="page-head">Business Continuity Strategy </div>
         
           
        </div>
        <!-- <button mat-icon-button routerLink="/en-us/businessStratigies/add">
            <mat-icon>person_add</mat-icon>
        </button> -->
        <!-- <button mat-icon-button (click)="showSearch = !showSearch" class="mx-2">
            <mat-icon>search</mat-icon>
        </button> -->
    </div>
  
    <form class="user-search">
        <mat-form-field class="user-search-input" *ngIf="showSearch">
            <input matInput placeholder="Search user by name..." name="search">
        </mat-form-field>
    </form>

</mat-toolbar>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-10">
    </div>
    <div class="col-md-1">
        <button mat-raised-button color="primary" (click)="exportexcel()" class="m-1"> Export TO Excel
        </button>
    </div>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort  class="common-table-style">

        <ng-container matColumnDef="strategy_ID">
            <th style="font-size:15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                mat-header-cell *matHeaderCellDef mat-sort-header>Stratigy</th>
            <td mat-cell *matCellDef="let element">{{element.strategy_ID}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="status_Name">
            <th style="font-size:15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status_Name}} </td>
        </ng-container>
        <ng-container matColumnDef="strategy_Statement">
            <th style="font-size:15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                mat-header-cell *matHeaderCellDef mat-sort-header>Statement </th>
            <td mat-cell *matCellDef="let element"> {{element.strategy_Statement}} </td>
        </ng-container>

        
        <!-- Name Column -->
        <ng-container matColumnDef="strategyDescription">
            <th style="font-size:15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.strategyDescription}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ID">
            <th style="font-size:15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                mat-header-cell *matHeaderCellDef> Serial No. </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{ (paginatorRef.pageIndex * paginatorRef.pageSize) +
                (i + 1) }}</td>
        </ng-container>
        <ng-container matColumnDef="created_Date">
            <th mat-header-cell *matHeaderCellDef> Created Date </th>
            <td mat-cell *matCellDef="let element"> {{element.created_Date | date}} </td>
        </ng-container>

     
        <ng-container matColumnDef="View">
            <th mat-header-cell *matHeaderCellDef>View</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click)="openDialogForView(element)" color="accent" class="m-1">
                    <mat-icon class="">visibility</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" class="m-1" *ngIf="RoleID!=1">
                    <mat-icon class="">delete</mat-icon>
                </button>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="highlightRow" mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'highlightRow' : row.status_Name=='Rejected'}" (click)="highlight(row)">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" #paginatorRef showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<p class="highlightRow">{{selectedRowIndex.status_Name}}</p>