@import "../../../../../theme/styles/variables";

.radio-buttons
{
    margin-right: 10px;
}
.common-table-style tr th{
    padding: 10px;
    border: 1px solid #e6e6e6;

}
.common-table-style tr td{
    padding: 10px;
    border: 1px solid #e6e6e6;

}
.common-table-style tr td:first-child{
    text-align: center;

}